.col-md-10.col-md-offset-1.u-margin-top-sm
  %h2.u-text-brand.text-center Stay Connected
  .row.u-margin-top-sm
    %script{ src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js", type: "text/javascript", charset: "utf-8" }
    %form#mktoForm_2064
      :javascript
        MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 2064);