---
title: "Not all remote is created equal"
author: Erich Wegscheider
author_gitlab: ewegscheider
author_twitter: gitlab
categories: culture
image_title: '/images/blogimages/padang_padang_beach_bali.JPG'
description: "How GitLab's all-remote culture is allowing me to travel the world for four months."
tags: remote work
cta_button_text: 'Join us at our first user conferences in Brooklyn and London!'
cta_button_link: '/events/commit/'
postType: content marketing
ee_cta: false
---

In early 2016, I left the office and started working remotely. I moved to Colorado, set up a home office and… basically worked from there. Given my employment arrangements, the romantic notion of being able to work from anywhere wasn’t a reality. At best, I could enjoy the benefits of a few extra long weekends by working a Monday or Friday from wherever I was.

## When remote work doesn't work

After working remotely for a year and a half, I went to Europe for a few weeks with the intention of staying up to date on work. That was a disaster due to being tethered to Pacific Time; team alignment made for odd working hours, my managers weren’t pleased with said working hours, I hardly slept, and came back more in need of a vacation than when I left.

Another detractor to working remotely was that it wasn’t conducive to my career development. Given that my colleagues worked at the office in California, the opportunity to lead or manage a team wasn’t presented, given my desire for location independence.

Sure, I was “remote,” but the reality was that I worked in the equivalent of a satellite office by myself. Simply put, all-remote work wasn’t a part of the company culture at either place I worked.

It wasn’t all bad, though. On the bright side, I eliminated a commute.

## Decisions, decisions

Despite being prone to wanderlust, I contemplated whether or not remote work was actually something I wanted to continue pursuing. In my experience, it had been more challenging than rewarding, so the topic warranted reconsideration.

When the offer to work at GitLab was presented, I dropped everything and said, “Yes!” It was a make-or-break moment for my remote endeavors, and it was an all-around great opportunity. All-remote is baked into GitLab's [manifesto](/company/culture/all-remote/#the-remote-manifesto), shapes our [communication strategy](/handbook/communication/), and is seen as the method for practicing our [values](/handbook/values/#what-is-not-a-value). GitLab's company culture plus our anticipated headcount growth (I work in Talent Operations) made this an unmissable opportunity. All things considered, GitLab sounded almost too good to be true: A chance to grow and develop professionally while also being given the freedom to travel, so long as I’m producing results. So, if that was the reality of working at GitLab, then I planned on experiencing true all-remote work firsthand, and soon!

<%= partial "includes/blog/content-newsletter-cta", locals: { variant: "b" } %>

## Taking action

Fast forward four months and I found myself in conversation about global co-working/co-living spaces. I had done research about companies that offered such arrangements, like the [WiFi Tribe](https://wifitribe.co), so when I brought them up as a resource to list on a company page, the resounding response was, “Go!” and “Do it!”

When I broached the subject with my manager during a 1:1 and mentioned prospective locations, his face immediately lit up with excitement and he exclaimed, “That’s awesome! I’m so excited for you!” Still getting used to GitLab’s culture, I quickly noted the 12-15 hour time difference between my desired locations and the U.S. (most of my teammates and vendors I work with live stateside) with an air of defeatism, as if to refute the overwhelming encouragement I’d just received. But I was met with more encouragement to go for it, so I started planning.

## Present reality

As I write this, I’m in the [beach town of Canggu](http://www.bali-indonesia.com/canggu/), nestled on Bali’s southern shore. I’ll be here for five weeks before moving onto other locations across four continents in four months. Such a trip with any of my previous employers would have put me at a career crossroads. I could either quit and just travel – while pausing my professional development – or put my travel ambitions on hold for the foreseeable future.

![What co-working in Bali looks like](/images/blogimages/baliworkspace.png){: .shadow.left.wrap-text}

Instead, I’m immersed in a community of passionate remote professionals and entrepreneurs with the WiFi Tribe. I've been gone for two weeks as of writing this post, and this experience has brought a whole new dynamic to my life. The days feel more vibrant, connected, and fulfilling. Often, small groups of the tribe go from cafe to cafe (or co-working space to co-working space) balancing the art of results-oriented work with taking the time to appreciate our surroundings. We gather for long lunches, plan weekend adventures, play impromptu beach volleyball at sunset, or just gather around the pool at night to get to know one another.

Compared to life at home, where after-work get-togethers felt harder and harder to facilitate, I’m finding a greater sense of intention and community. Without the foundation of an all-remote culture, this simply wouldn’t be possible – I’d still be standing at a career crossroads.

In the time that I’ll be traveling, GitLab is expected to increase its headcount by approximately 32%. I work on the Talent Operations team, so there will be plenty of things to keep me busy as we grow. While it’s still early in my time at GitLab and this trip is just beginning, my faith in all-remote work has been restored.

In a sense, this whole opportunity kind of feels like having your cake and eating it too.
